{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Movie Community</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Noto+Sans+JP">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <!-- ************ HERO SECTION ************-->
    <header id="home">
        <div class="menu">
        <img src="{% static '/images/background.jpg' %}" alt="">
              <nav class="nav">
                <ul class="nav-link">
                    <li><a class="text-decoration-none" href="#home">Home</a></li>
                    <li><a class="text-decoration-none" href="#about">About</a></li>
                    <li><a class="text-decoration-none" href="#whatwedo">What we do</a></li>
                    <li><a class="text-decoration-none" href="#team">Team</a></li>
                    <li><a class="text-decoration-none" href="">Blog</a></li>
                    <li><a class="text-decoration-none" href="#contact">Get in Touch</a></li>
                </ul>
              </nav>
        </div>
</body>
</html>